<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EyeFramesList</title>
</head>
<body>
<!-- up-->
<!-- Оптика-->
<div class="upClass" id="upId">
    <h1>Оптика (*frames.html*)</h1>
</div>
<!-- left-->
<!-- Найти, Заказы, Клиенты, Склад, Администратор-->
<div class="leftClass" id="leftId">
    <form method="post" data-th-action="@{frames.html}">
        <input data-th-value="${filter}" type="text" name="filter" size="20">
        <button type="submit">Найти</button><br>
    </form>
    <button name="orders">Заказы</button><br>
    <button name="clients">Клиенты</button><br>
    <button name="store">Склад</button><br>
    <button name="admin">Администратор</button><br>
</div>
<!-- center-->
<div class="centerClass" id="centerId">
    <!-- private String firm;
        private String model;
        private String material;
        private String typeOfFixation;-->
    <h2>Список оправ:</h2>
    <table border="3">
        <thead>
        <tr>
            <th> №</th>
            <th> Фирма</th>
            <th> Модель</th>
            <th> Материал</th>
            <th> Тип</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="frame : ${frames}">
            <td data-th-text="${frame.id}"></td>
            <td data-th-text="${frame.firm}"></td>
            <td data-th-text="${frame.model}"></td>
            <td data-th-text="${frame.material}"></td>
            <td data-th-text="${frame.typeOfFixation}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

